@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Poppins:wght@500..950&display=swap');
@import "tailwindcss";

@theme {
  /* Palette Officielle SGFN conforme Tailwind v4 */
  --color-brand-primary: #0D3B66;
  --color-brand-secondary: #1E6091;
  --color-brand-success: #2D8F5A;
  --color-brand-accent: #F39C12;
  --color-brand-bg: #F8FAFC;
  --color-brand-text: #1F2937;

  /* Typographies SGFN */
  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;
}

/* Base de style globale */
body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
